<!--#begin login -->
<form method="post" action="{ babPhpSelf }" class="bab-login-form">
<input type="hidden" name="babCsrfProtect" value="{ babCsrfProtect }" />

<input type="hidden" name="tg" value="login" />
<input type="hidden" name="referer" value="{ referer }" />
<input type="hidden" name="login" value="login" />
<input type="hidden" name="sAuthType" value="Ldap" />
 
  <table  width="50%" border="0" cellspacing="0" cellpadding="2" align="center">
    <tr> 
      <td class="BabLoginCadreBackground" align="center" valign="middle">
        <table class="BabLoginMenuBackground" width="100%" border="0" cellspacing="0" cellpadding="5" align="center">
          <tr> 
            <td  width="30%" align="right">{ nickname } : </td>
            <td> 
              <input type="text" name="nickname" value="{ c_nickname }" size="20" maxlength="255" />
            </td>
        </tr>
        <tr> 
            <td align="right">{ password } : </td>
            <td> 
              <input type="password" name="password" size="20" maxlength="255" />
            </td>
        </tr>
        <!--#if babCookieIdent -->
        <tr> 
            <td align="right">{ life } : </td>
            <td> 
            <select name="lifetime">
                <option value="0" selected="selected">{ nolife }</option>
                <option value="86400">{ oneday }</option>
                <option value="604800">{ oneweek }</option>
                <option value="2678400">{ onemonth }</option>
                <option value="31536000">{ oneyear }</option>
                <option value="315360000">{ infinite }</option>
            </select>
            </td>
        </tr>
        <!--#endif babCookieIdent -->
        <tr valign="middle"> 
            <td colspan="2" align="center"> 
                <input type="submit" name="submit" value="{ login }" />
            </td>
        </tr>
        <tr valign="middle">
           <td colspan="2" align="center">
               <a href="{ emailPwdUrl }">{ emailPwdTxt }</a>
           </td>
        </tr>
        </table>
      </td>
    </tr>
  </table>
</form>


<!--#end login -->
